html {
  height: 100%;
  body {
    height: inherit;
    color: rgb(15 23 42);
    word-break: break-word;
    #app {
      height: inherit;
    }
  }
}

.custom-loading {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    animation: breath 2.5s ease-in-out infinite;
    z-index: 1;
  }
}

@keyframes breath {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.6);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
